html
    body
        h1 Order Log

        a(href='/') Place an Order 
        br    
        a(href='transactions') See Transaction Log

        p Here is a list of all orders:

        ul
            for order in orders
                tr
                    td
                        | Order Id: #{order._id}
                        br
                        | User Id: #{order.user_id}
                        br
                        | Stock Symbol: #{order.stock_symbol}
                        br
                        | Order Type: #{order.order_type}
                        br
                        | Units: #{order.units}
                        br
                        | Price: $#{order.price}
                        br
                        | Order Time: #{order.order_time}
                        br 
                        | Partially Filled?: #{order.is_partially_filled}
                        br 
                        | Fully Filled?: #{order.is_filled}
                        br 
                        br
                        